/* RESET DEFAULT BROWSER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
/* LOAD FONTS FROM STATIC FILES */
@font-face {
  font-family: "Montserrat";
  src: url(/static/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url(/static/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* CSS CUSTOM VARIABLES */

:root {
  /* COLORS */
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  /* FONTS */
  --text-present-1: 700 2rem/1 "Fraunces";
  --text-present-2: 700 0.875rem/1.1 "Montserrat";
  --text-present-3: 500 0.875rem/1.6 "Montserrat";
  --text-present-4: 500 0.75rem/1.2 "Montserrat";
  --text-present-4-letter-sp: 5px;
  --text-present-5: 500 0.813rem/1.2 "Montserrat";

  /* SPACING */
  --sp-50: 0.25rem;
  --sp-100: 0.5rem;
  --sp-200: 1rem;
  --sp-300: 1.5rem;
  --sp-400: 2rem;
  --sp-500: 2.5rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  background-color: var(--color-cream);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;
}

.card__picture img {
  max-width: 100%;
  height: auto;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  width: 95%;
  background-color: var(--color-white);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.card__product-info {
  padding: var(--sp-400);
  display: flex;
  flex-direction: column;
  row-gap: var(--sp-300);
}

.card__price-group {
  display: flex;
  column-gap: var(--sp-200);
}

.card__category {
  font: var(--text-present-4);
  letter-spacing: var(--text-present-4-letter-sp);
  color: var(--color-grey);
}

.card__title {
  font: var(--text-present-1);
  color: var(--color-black);
}

.card__description {
  font: var(--text-present-3);
  color: var(--color-grey);
}

.card__price--new {
  font: var(--text-present-1);
  color: var(--color-green-500);
}

.card__price--old {
  font: var(--text-present-5);
  color: var(--color-grey);
  align-self: center;
}

.card__button {
  font: var(--text-present-2);
  color: var(--color-white);
  background-color: var(--color-green-500);
  padding: var(--sp-200) var(--sp-400);
  border-radius: 8px;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: centre;
  column-gap: var(--sp-100);
}

.card__button:active {
  transform: scale(0.98);
}
